---
Checks: >-
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers

FormatStyle: file
HeaderFilterRegex: '(Core|CLI)[\\/]'

CheckOptions:
  # Types
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase

  # Functions
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.ConversionFunctionCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionLikeMacroCase
    value: UPPER_CASE

  # Variables
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.LocalVariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack

  # Members
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: ''
  - key: readability-identifier-naming.PublicMemberCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberPrefix
    value: s_

  # Globals & Constants
  - key: readability-identifier-naming.GlobalVariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: k
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: k

  # Macros
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value: '^[A-Z]+(_[A-Z]+)*_$'

  # Exceptions
  - key: readability-identifier-naming.AllowedIdentifiers
    value: 'i,j,k,n,id,x,y,z,w,r,g,b,a,uv,dt,rc,fp,argc,argv,p,v'
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'Windows Kits[\\/]10[\\/]Include[\\/].*\.h'
